<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TPKeyBoardExample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E9FD5ED91B46295C0051E559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FD5EED1B46295C0051E559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E9FD5EF81B46295C0051E559</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
